@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FF4141 #626262; /* Adjust the colors as needed */
  }
  
  /* Custom Scrollbar Styles for WebKit */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FF4141; /* Adjust the color as needed */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #626262; /* Adjust the color as needed */
  }
  